.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .home {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  width: 40%;
  gap: 20px;
}
